@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

/* header section */
.header-container{
    max-width: 1320px;
    height: 600px;
    border: none;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url("../assets/images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.content-paragraph{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
}

.content-header{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
line-height: 95px;
letter-spacing: 0%;
text-align: center;
}

/* offer section */
.offer-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;
}

.offer-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 306px;

}

.offer-section-content h1{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
line-height: 107px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 48px;
}
.offer-section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 16px;
}
.offer-section-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 48px;
}

.offer-img-container{
    width: 802.9px;
    height: 500px;
    
}

.offer-img-container img{
    width: 100%;
    height: 100%;
}

/* party-section */

.party-section-container{
    
    max-width: 1320px;
    height: 600px;
    border: none;
    margin: 0 auto;
    margin-top: 170px;
    background-image: url("../assets/images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    display: flex;
}

.left-side-content{
   max-width: 820px;
   height: 600px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 24px;
}

.left-side-content h1{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px;
letter-spacing: 11%;
text-align: left;
margin-left: 126px;
}

.left-side-content p{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-left: 126px;
}

.left-side-content button {
color: white;
background-color: rgba(0,0,0,0.2);
border: none;
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-left: 158px;
margin-top: 24px;
}

.right-side-content{
    max-width: 460px;
    height: 600px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.right-side-content div{
    max-width: 349.16px;
    max-height: 464.65px; 
    margin-left: 49px;
}

.right-side-content img{
    width: 100%;
    height: 100%;
}

/* protfolio-section */
.protfolio-section-container{
    max-width: 1320px;
    height: 1163px;
    
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 120px;
}
.protfolio-section-content h5{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
}
.protfolio-section-content h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 22px;
}
.protfolio-section-content p{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}

.image-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    margin-top: 48px;
}

.image-section div{
    max-width: 424px;
    height: 450px;
    border-radius: 16px;
}

.image-section img{
    width: 100%;
    height: 100%;
}



